.search-form{
    padding-top: 50px;
}
.circle{
    border-radius: 60%;
    height: 250px;
}
.bio{
    margin-left: 45%;
    margin-top: -20%;
}
h2{
    border-end-end-radius: 2px;
    text-align: center;
    border-bottom: 1px solid white;
}
.card{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    display: block;
    padding: 18px;
    
}
.box{
    margin-left: 40%;
}
.one{
    margin-top: 24%;
}
.clearfix{
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;  
}